<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Images:</strong>
  <% if @project.images.attached? %>
    <% @project.images.each do |image| %>
      <%= image.url %>
      
    <%end%>
  <%end %>
</p>
<p>
  <strong>Framework:</strong>
  <%= @project.framework.name %>
</p>
<p>
  <strong>Language:</strong>
  <%= @project.language.name %>
</p>
<p>
  <strong>Skill:</strong>
  <%= @project.skill.name %>
</p>
<p>
  <strong>Other:</strong>
  <%= @project.other %>
</p>
<p>
  <strong>Imageurl:</strong>
  <%= @project.imageurl %>
</p>
<p>
  <strong>Live url:</strong>
  <%= @project.live_url %>
</p>
<p>
  <strong>Source url:</strong>
  <%= @project.source_url %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
